:root {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	vertical-align: baseline;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #27272c;
	font-size: 2.5rem;
}

#container {
	display: flex;
	height: 1000px;
	box-shadow: -3px 5px 8px 1px #000000;
}

.logoarea {
	background: blue;
	width: 500px;
	border-radius: 8px 0 0 8px;
}

.infoarea {
	background: #f9fafb;
	width: 800px;
	display: flex;
	flex-direction: column;
	border-radius: 0 8px 8px 0;
}

h1, h2 {
	font-size: 2.5rem;
	padding: 20px 0;
}

h2 {
	padding-top: 0;
}

span {
	display: block;
}


/******************************************
/* LAYOUT
/*******************************************/

.intro {
	height: 300px;
	line-height: 1.3;
	width: calc(100% - 80px);
	padding-top: 10%;
	align-self: center;
}

form {
	height: 350px;
	background-color: white;
	border-top: 1px solid #f5f5f5;
	box-shadow: 0px 5px 3px 0px #e2e3e4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formwrapper {
	display: flex;
	flex-wrap: wrap;
}

.formwrapper > .input_group {
	flex: 1 1 50%;
	margin: 15px 0;
}

/******************************************
/* FORM
/*******************************************/

.input_group > input {
	border: 1px solid grey;
	border-radius: 3px;
	height: 30px;
	width: 300px;
	display: block;
	padding-left: 10px; /* For the inside of the input! */
	margin: 0 auto;
}

label {
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 0 0 5px 50px;
	display: block;
}

input[type=submit] {
	width: 300px;
}