:root {
  font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: gray;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
