/* ==================================================================
    - - - - - - - - - - [ GLOBALS ]
   ==================================================================
    [1] Size hack to set default font size to "10px" to make 1rem
        the equivelent of 10px. (2.4rem = 24px, 0.8rem = 8px, etc)
   ================================================================== */

:root {
  font-size: 62.5%; /* [1] */

  /* ------------> DEFAULT DARK MODE COLORS!!!, CHANGE COLORS & DELETE THIS COMMENT LINE!!! <------------ */
  /* Main colors */
  --COLOR_BG: hsl(0, 0%, 0%);
  --COLOR_PRIMARY: hsl(155, 30%, 38%);
  --COLOR_SECONDARY: hsl(303, 71%, 73%);

  /* Text */
  --FONT_COLOR: hsl(30, 100%, 98%);

  /* Misc Layout */
  --RADIUS: 6px;
}


/* ==================================================================
    - - - - - - - - - - [ BASE STYLES ]
   ==================================================================
    - - [ body, fonts, text elements, media elements ]
    * Styles that are shared across the entire site
   ================================================================== */
  
body {
  font-size: 2rem;
  font-family: 'Fira Code', sans-serif;
  background-color: var(--COLOR_BG);
  background-image: url('../img/noise-light.png');
  color: var(--FONT_COLOR);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [content-start] minmax(300px, 700px) [content-end] 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;

  & > * {
    grid-column: content;
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: 1fr;
    & > * { grid-column: 1 / 2; }
  }
}

::selection {
  background-color: var(--COLOR_SECONDARY);
  color: var(--COLOR_BG);
}

hr {
  border-top: 1px dashed var(--COLOR_SECONDARY);
}


/* ==================================================================
    - - - - - - - - - - [ HEADER ]
   ==================================================================
    * Extremely simple header, updates on which task group selected
   ================================================================== */
  
header {
  padding: 20px 0 0 20px;
  font-size: 4rem;
  display: flex;
}

/* ==================================================================
    - - - - - - - - - - [ SIDEBAR ]
   ==================================================================
    * A sidebar that toggles on and off when in mobile, popping
      it out from the left side. Otherwise permanently on while
      on desktop.
   ================================================================== */

   #sidebar {
    width: 250px;
    grid-column: 1 / 2;
    justify-self: right;

    & .active {
      color: red;
      margin-right: 8px;
      transition: margin-right 0.3s ease-in-out;
    }

    & .active::before {
      content: '>';
      margin-right: 10px;
    }
  
    & > * {
      margin: 0 20px 20px 0;
      text-align: right;
      cursor: pointer;
    }
  
    & > * > * {
      padding-top: 14px;
    }

    & .low  { color: rgb(27, 206, 27); }
    & .med  { color: rgb(152, 35, 219); }
    & .high { color: rgb(228, 29, 29); }

    & .new-project {
      width: 100%;
      margin-top: 20px;
      padding: 8px 0;
      font-size: 2.2rem;
      background-color: var(--COLOR_PRIMARY);
      color: var(--FONT_COLOR);
      border-radius: var(--RADIUS);
      opacity: 0.8;
    }

    & .new-project:hover {
      background-color: var(--COLOR_PRIMARY);
      color: var(--FONT_COLOR);
      opacity: 1;
    }
  }


/* ==================================================================
    - - - - - - - - - - [ MAIN CONTENT ]
   ==================================================================
    - - [ main, section, div, article, aside, form ]
    * replace %CONTENT with one of the above when pasting this
   ================================================================== */

main {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;

  /* transition: margin-right 0.3s ease-in-out; */

  & > * {
    background-color: var(--COLOR_PRIMARY);
    border-radius: var(--RADIUS);
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 8px 8px 20px;

    @media screen and (max-width: 400px) {
      margin: 0 10px;
    }
  }
  
  & ::before { /* TASK COLOR BAR OF IMPORTANCE! */
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: red;
    border-top-left-radius: var(--RADIUS);
    border-bottom-left-radius: var(--RADIUS);
    transition: width 0.2s ease-in-out;
  }

  & :hover::before {
    width: 16px;
  }


}