:root {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/
   
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
}

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* CONTENT
/*******************************************/


/******************************************
/* MEDIA QUERIES
/*******************************************/
