* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-size: 62.5%;
	vertical-align: baseline;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: gray;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
